@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    /* font-size: 16px; */
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.content-max-width {
    max-width: 766px;
}

.cosi-title-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #253A90;
    margin-top: 5px;
    margin-bottom: 20px;
}

.cosi-title-2 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    line-height: 38px;
}

.cosi-title-3 {
    font-size: 22px;
    font-style: italic;
}

.cosi-title-4 {
    font-size: 20px;
    font-weight: bold;
    /* font-family: 'Poppins', sans-serif; */
    color: #2A2E4F;
}

.cosi-title-5 {
    font-size: 18px;
    font-weight: bold;
    color: #2A2E4F;
    font-family: 'Roboto';
}

.cosi-title-6 {
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 6px;
    font-style: italic;
    font-weight: bold;
    color: #2A2E4F;
    font-family: 'Roboto';
}

.cosi-headline {
    font-size: 22px;
    color: #2A2E4F;
    margin-bottom: 20px;
    line-height: 1.8em;
}

.cosi-p {
    color: #2A2E4F;
    margin-bottom: 16px;
    line-height: 1.8em;
}

.cosi-ul {
    list-style: disc;
    padding-left: 20px;
    line-height: 1.8em;
    margin-bottom: 16px;
}

.cosi-ol {
    list-style-type: decimal;
    padding-left: 20px;
    line-height: 1.8em;
    margin-bottom: 16px;
}

.cosi-ul li, .cosi-ol li {
    margin-bottom: 10px;
    color: #2A2E4F;
}

/* .cosi-ol {
    counter-reset: item;
}
.cosi-ol li { display: block; }
.cosi-ol > li {
    counter-increment: item;
}
.cosi-ol .cosi-ol > li:before {
    content: counters(item, ".") ". ";
} */

a.external {
    color: #1C5EC5;
    text-decoration: underline;
}

a.external-dark {
    color: #8EE4FF;
    text-decoration: underline;
}

a.internal {
    text-decoration: none;
}

.cosi-text-light-purple {
    color: #D9D7FF;
}
